h1 {
  color: purple;
  font-family: verdana;
  font-size: 300%;
  margin-top: 30;
}
ul {
  list-style-type: none;
  margin: 10;
  padding: 0px;
  overflow: hidden;
  background-color: purple;
}

li {
  float: left;
}

li a {
  display: block;
  color: whitesmoke;
 font-size:20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: snow;
}
.active{
background-color: white;
color: white;
}
li a:hover {
  background-color: orange;
  color: white;
}

/* Meet the team*/
/* six columns side by side */
.column {
  float: left;
  width: 13%;
  margin-left:75px;
  margin-bottom:5px;
  padding: 5px;
  background-color: #FFFFFF;

}

@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
  }
}

.card {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 10px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #555;
}
body {background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);}

@media screen and (max-width: 768px) {
  .all-columns {
      width: 100%; }
}



