h1 {
  color: pink;
  font-family: verdana;
  font-size: 300%;
  margin-top: 30;
}
ul {
  list-style-type: none;
  margin: 10;
  padding: 0px;
  overflow: hidden;
  background-color: pink;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
 font-size:20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.active{
background-color: soft blue;
color: white;
}
li a:hover {
  background-color: orange;
  color: white;
}

/* Meet the team*/
/* Three columns side by side */
.column {
  float: left;
  width: 20%;
  margin-left:120px;
  margin-bottom:10px;
  padding: 10px;
  background-color: #FFFFFF;
  margin-right:10px;

}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #555;
}
body {background: linear-gradient(90deg, rgb(254, 241, 245) 0%, rgb(228, 239, 251) 100%);}




/** SLIDE RANGE STYLE*/


.slidecontainer {
  width: 100%;
  text-align:center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;


}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}



/*text align*/
  .right {
        text-align: right;
      }
      .left{
        text-align: left;
      }